* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 600px;
  margin: auto;
}

.box {
  border: 3px solid black;
  padding: 10px;
}

h1 {
  color: blue;
}

.hai {
  color: lime;
}

.bonjour {
  color: brown;
}

/* .class-hello {

} */