/* GLOBAL STYLING */
body {
  font-family: "Mulish", sans-serif;
}

h4 {
  font-weight: 700;
}

.btn-view-all {
  font-weight: 700;
}

.btn-outline-primary {
  color: #5f2eea !important;
  border: 1px solid #5f2eea !important;
}

.btn-primary:hover {
  background-color: #4d1fcc !important;
}

.btn-primary,
.btn-outline-primary:hover {
  color: #ffffff !important;
}

.btn-primary,
.btn-outline-primary:hover {
  background-color: #5f2eea !important;
}

/* MULTIPLE ELEMENT STYLING */
.navbar,
.footer {
  margin-right: 130px;
  margin-left: 130px;
}

.hero-section,
.now-showing,
.upcoming-movies,
.join-a-member {
  margin-right: 130px;
  margin-left: 130px;
}

.hero-section .box1,
.box2,
.box3 {
  width: 107px;
  height: 352px;
  filter: drop-shadow(8px 16px 30px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
}

.join-a-member span,
.hero-section span,
.months-list .btn,
.card-body .btn,
.btn-view-all {
  color: #5f2eea;
}

.join-a-member span,
.hero-section span {
  font-weight: 700;
  font-size: 56px;
}

.join-a-member,
footer {
  letter-spacing: 0.5px;
}

.hero-section .left-section p,
.card-text,
.input-email {
  color: #a0a3bd;
}

.card-text,
.btn-join-now {
  font-family: "Open Sans", sans-serif;
}

/* NAV STYLING*/
.navbar {
  padding: 19px 0;
  background-color: #ffffff !important;
}

.navbar .navbar-container {
  padding: 0;
}

.navbar-brand {
  width: 130px;
  margin-right: 36px;
}

.navbar .nav-link {
  color: #414141 !important;
}

.navbar .menu, .navbar .dropdown {
  font-weight: 600;
}

.navbar .menu {
  margin-right: 19px;
}

.navbar .dropdown-toggle {
  margin-right: 0;
}

.navbar .btn-sign-up {
  width: 120px;
  height: 40px;
  border-radius: 8px;
}

.search .btn {
  margin: 0 24px;
}

.search input {
  display: none;
  width: 0;
}

.search button {
  margin-right: 0;
}

/* FOR SCREEN ABOVE 1366px */
@media (min-width: 1366px) {
  .navbar-brand {
    margin-right: 72px;
  }

  .navbar .menu {
    margin-right: 56px;
  }

  .navbar .search .btn {
    margin: 0 48px;
  }
}

/* HERO STYLING */
.hero-section {
  margin-top: 80px;
  margin-bottom: 205px;
}

.hero-section .box1 {
  background-image: url("../img/spiderman.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .box2 {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 72px;
  background-image: url("../img/lion-king.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .box3 {
  margin-bottom: 144px;
  background-image: url("../img/ad225c70f9deb342f75d7fa7b019f397.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* NOW SHOWING STYLING */
.now-showing h4 {
  position: relative;
  display: flex;
  justify-content: center;
}

.now-showing h4::after {
  content: "";
  width: 100px;
  height: 3px;
  border-radius: 50px;
  background-color: #5f2eea;
  display: block;
  position: absolute;
  bottom: -16px;
  margin: 0 auto;
}

.now-showing-list {
  margin-top: 72px;
}

.now-showing-list .card-title {
  white-space: nowrap;
  width: 159px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.now-showing-list .card:hover .card-body {
  display: inline-block;
}

.now-showing .card-body .btn:last-child {
  margin-top: 8px;
}

.now-showing .card-body {
  display: none;
}

/* UPCOMING MOVIES STYLING */
.upcoming-movies {
  margin-top: 208px;
}

.months-list {
  margin-top: 40px;
  margin-bottom: 56px;
}

.now-showing-list::-webkit-scrollbar,
.months-list::-webkit-scrollbar,
.upcoming-list::-webkit-scrollbar {
  display: none;
}

.months-list .btn {
  height: 42px;
  width: 127px;
  margin-right: 16px;
  border-radius: 8px;
  flex: 0 0 auto;
}

.now-showing-list .card,
.upcoming-list .card {
  width: 223px;
  padding: 32px;
  margin-right: 24px;
  border-radius: 24px;
  flex: 0 0 auto;
}

.card .card-img-top {
  border-radius: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15px;
}

.card-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.card-body .btn {
  width: 159px;
  height: 33px;
  font-size: 14px;
  margin-top: 40px;
  border-radius: 8px;
}

/* JOIN MEMBER STYLING */
.join-a-member {
  height: 372px;
  border-radius: 24px;
  margin-top: 138px;
  margin-bottom: 96px;
  box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
}

.input-email {
  width: 306px;
  margin-right: 16px;
}

.btn-join-now {
  width: 120px;
  font-weight: 600;
}

.input-email,
.btn-join-now {
  height: 53px;
  border-radius: 12px;
}

.input-email,
.join-a-member {
  letter-spacing: 0.75px;
}

.input-email,
.join-a-member,
.btn-join-now {
  font-size: 14px;
}

.join-a-member span {
  font-size: 48px;
}

.join-a-member form {
  margin: 48px 0 40px 0;
}

.join-a-member p:first-child {
  color: #4e4b66;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin-bottom: 0;
}

.join-a-member p:last-child {
  color: #6e7191;
  text-align: center;
}

/* FOOTER STYLING*/
.footer h5 {
  margin-bottom: 30.54px;
  font-weight: 700;
  color: #000000;
}

.footer h5,
.explore-link a,
.social-usernames p,
.copyright {
  letter-spacing: 0.5px;
}

.sponsor-ebu {
  height: 44.85px;
}

.sponsor-cine-one {
  height: 26.52px;
  margin: 25px 0;
}

.sponsor-hiflix {
  height: 24.51px;
}

.footer-left img {
  width: 183px;
  margin-bottom: 16px;
}

.footer-left p,
.footer h5 {
  font-size: 16px;
}

.footer-left p {
  line-height: 32px;
  letter-spacing: 0.75px;
}

.footer-left p,
.social-usernames p {
  color: #6e7191;
}

.explore-link a,
.social-usernames p {
  font-size: 14px;
}

.explore a {
  margin-bottom: 14.7px;
}

.explore a,
.container p {
  color: #4e4b66;
}

.footer-right img {
  margin-bottom: 24px;
}

.footer-right .social-icons {
  margin-right: 15px;
}

.footer-right .social-icons img:last-child {
  margin-bottom: 0;
}

.footer-right .social-usernames {
  padding-top: 2px;
}

.footer-right .social-usernames p {
  font-weight: 600;
  margin-bottom: 28.5px;
}

.footer-right .social-usernames p:last-child {
  margin-bottom: 0;
}

.copyright {
  margin: 50px 0;
}

/* MEDIA QUERY */
/* FOR SCREEN BELOW 576px */
@media (max-width: 576px) {
  .navbar,
  .hero-section,
  .now-showing,
  .upcoming-movies,
  .join-a-member,
  .footer {
    margin-right: 10%;
    margin-left: 10%;
  }

  .left-section p {
    font-size: 14px;
  }

  .left-section span {
    font-size: 48px;
  }

  .now-showing-list .card,
  .upcoming-list .card {
    width: 152px;
    padding: 16px;
  }

  .now-showing-list .card-title {
    width: 122px;
  }

  .card-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.15px;
  }

  .card-text {
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.4px;
  }

  .card-body .btn {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 24px;
  }

  .join-a-member {
    height: 401px;
  }
}

/* FOR SCREEN BELOW 768px */
@media (max-width: 768px) {
  .hero-section .right-section {
    margin-top: 64px;
  }

  .upcoming-movies .months-list {
    margin-top: 20px;
  }

  .join-a-member .input-email,
  .join-a-member .btn-join-now {
    width: 100%;
  }

  .join-a-member {
    height: 420px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .join-a-member form {
    margin: 42px 0 32px 0;
  }

  .join-a-member p:first-child {
    font-size: 14px;
    text-align: center;
    line-height: 34px;
  }

  .join-a-member span {
    font-size: 32px;
  }

  .join-a-member .btn-join-now {
    margin-top: 16px;
    font-size: 14px;
  }

  .join-a-member .input-email {
    font-size: 12px;
  }

  .join-a-member p:last-child {
    font-size: 12px;
  }

  .footer .sponsor-logo-container {
    margin-bottom: 12px;
  }

  .footer .sponsor-ebu {
    height: 30px;
  }

  .footer .sponsor-cine-one {
    height: 17px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer .sponsor-hiflix {
    height: 25px;
  }

  .footer-left p, .explore-link a {
    margin-bottom: 0;
  }

  .explore-link a {
    margin-right: 40px;
    margin-bottom: 12px;
  }
}

/* FOR SCREEN ABOVE 992px */
@media (min-width: 992px) {
  .footer-left p {
    margin-right: 85px;
  } 
}

/* FOR SCREEN BELOW 992px */
@media (max-width: 992px) {
  .footer h5 {
    margin-bottom: 16px;
  }

  .footer-right .social-usernames p {
    display: none;
  }

  .footer-right .social-icons {
    width: 100%;
    margin-right: 0;
  }

  .footer-right .social-icons img {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .footer-left {
    margin-bottom: 40px;
  }

  .explore,
  .sponsor {
    margin-bottom: 48px;
  }
}
