/* GLOBAL STYLING */
.btn-outline-primary {
  color: #5f2eea !important;
  border: none !important;
}

.btn-outline-primary:hover {
  background-color: transparent;
  color: #4d1fcc !important;
}

.btn-primary:hover {
  background-color: #4d1fcc !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #5f2eea !important;
}

/* MULTIPLE ELEMENT STYLING */
.btn-primary,
.btn-outline-primary {
  font-weight: 700;
}

.navbar,
.footer {
  background-color: #ffffff !important;
}

/* NAV STYLING*/
.navbar {
  height: 104px;
  padding: 0 70px;
}

.navbar .navbar-container {
  padding: 0;
}

.navbar-brand {
  width: 130px;
  margin-right: 36px;
}

.navbar .nav-link {
  color: #414141 !important;
}

.navbar .menu,
.navbar .dropdown {
  font-weight: 600;
}

.navbar .menu {
  margin-right: 19px;
}

.navbar .dropdown-toggle {
  margin-right: 0;
}

.navbar .btn-profile {
  background-image: url("../img/user-profile-pict.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.search .btn {
  margin: 0 24px;
}

.search input {
  display: none;
  width: 0;
}

.search button {
  margin-right: 0;
}

/* CONTENT STYLING */
main {
  padding: 0 70px;
  margin-top: 37px;
  font-family: "Mulish", sans-serif;
}

.movie-details .movie-poster {
  padding: 15%;
  border: 2px solid #dedede;
  border-radius: 24px;
}

.movie-poster img {
  border-radius: 16px;
}

.movie-desc-container .genre,
.movie-desc-container .synopsis-desc {
  color: #4e4b66;
}

.movie-desc-container,
.showtimes-ticket-container .title-head {
  margin-bottom: 40px;
  letter-spacing: 0.75px;
}

.showtimes-ticket-container .pick-date-place input,
.showtimes-ticket-container .pick-date-place button {
  width: 284px;
  height: 56px;
  border: none;
  border-radius: 16px;
  padding: 19px 24px;
  background: #eff0f6;
}

.showtimes-ticket-container {
  margin-top: 150px;
  margin-bottom: 72px;
}

.showtimes-ticket-container .pick-date-place {
  margin-bottom: 72px;
}

.movie-desc-container h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.movie-desc-container h5 {
  font-weight: 600;
}

.movie-desc-container h6 {
  color: #8692a6;
}

.movie-desc-container span {
  color: #121212;
}

.movie-details .movie-desc-head {
  margin-bottom: 5%;
}

.movie-details .separator {
  content: "";
  border-bottom: 1px solid #dedede;
  margin: 3% 0;
}

.showtimes-ticket-container h3 {
  font-size: 24px;
  font-weight: 700;
}

.ticket,
.view-more a {
  letter-spacing: 0.75px;
}

.ticket {
  padding: 24px !important;
  border-radius: 24px;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
}

.ticket .cinema-name {
  font-size: 24px;
  font-weight: 600;
}

.ticket .cinema-location,
.ticket .hour-group {
  font-size: 12px;
  color: #6e7191;
}

.ticket .cinema-logo-container {
  padding: 0 5% 0 2%;
}

.ticket .cinema-logo-container img {
  width: 100%;
}

.ticket .cinema-info-group {
  padding-left: 5%;
}

.ticket .cinema-location {
  font-weight: 300;
}

.ticket .separator {
  border: 0.5px solid #dedede;
  margin: 2% 0;
}

.ticket .hour-group {
  font-weight: 600;
}

.ticket .hour-group span:nth-child(4n) {
  text-align: end;
}

.ticket .hour-group span:nth-child(4n + 2) {
  text-align: center;
}

.ticket .hour-group span:nth-child(4n + 3) {
  text-align: center;
}

.ticket .price-group {
  margin-top: 3%;
  margin-bottom: 5%;
}

.ticket .price-group p {
  color: #6b6b6b;
}

.ticket .price-group .price {
  font-weight: 600;
}

.btn-action a {
  width: 134px;
  height: 40px;
  border-radius: 8px;
}

.view-more {
  margin-top: 48px;
}

.view-more a {
  color: #5f2eea;
  font-size: 16px;
  font-weight: 600;
}

/* FOOTER STYLING*/
.footer {
  padding: 96px 130px 48px;
}

.footer h5 {
  margin-bottom: 30.54px;
  font-weight: 700;
  color: #000000;
}

.footer h5,
.explore-link a,
.social-usernames p,
.copyright {
  letter-spacing: 0.5px;
}

.sponsor-ebu {
  height: 44.85px;
}

.sponsor-cine-one {
  height: 26.52px;
  margin: 25px 0;
}

.sponsor-hiflix {
  height: 24.51px;
}

.footer-left img {
  width: 183px;
  margin-bottom: 16px;
}

.footer-left p,
.footer h5 {
  font-size: 16px;
}

.footer-left p {
  line-height: 32px;
  letter-spacing: 0.75px;
}

.footer-left p,
.social-usernames p {
  color: #6e7191;
}

.explore-link a,
.social-usernames p {
  font-size: 14px;
}

.explore a {
  margin-bottom: 14.7px;
}

.explore a,
.container p {
  color: #4e4b66;
}

.footer-right img {
  margin-bottom: 24px;
}

.footer-right .social-icons {
  margin-right: 15px;
}

.footer-right .social-icons img:last-child {
  margin-bottom: 0;
}

.footer-right .social-usernames {
  padding-top: 2px;
}

.footer-right .social-usernames p {
  font-weight: 600;
  margin-bottom: 28.5px;
}

.footer-right .social-usernames p:last-child {
  margin-bottom: 0;
}

.copyright {
  margin: 50px 0 0;
}

/* MEDIA QUERY */
/* FOR SCREEN BELOW 576px */
@media (max-width: 576px) {
  .navbar,
  .footer {
    padding-right: 5% !important;
    padding-left: 5% !important;
  }
}

/* FOR SCREEN BELOW 768px */
@media (max-width: 768px) {
  .movie-desc-container h1 {
    font-size: 20px;
  }

  .movie-poster {
    margin-bottom: 32px;
  }

  .showtimes-ticket-container h3 {
    font-size: 18px;
  }

  .showtimes-ticket-container .pick-date-place input[type="date"] {
    margin-bottom: 12px;
  }

  .ticket .cinema-logo-container {
    justify-content: center;
    padding: 0;
    margin-bottom: 12px;
  }

  .ticket .cinema-logo-container img {
    width: 60%;
  }

  .ticket h3 {
    display: none;
  }

  .ticket .cinema-info-group {
    justify-content: center;
    padding: 0;
  }

  .footer .sponsor-logo-container {
    margin-bottom: 12px;
  }

  .footer .sponsor-ebu {
    height: 30px;
  }

  .footer .sponsor-cine-one {
    height: 17px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer .sponsor-hiflix {
    height: 25px;
  }

  .footer-left p,
  .explore-link a {
    margin-bottom: 0;
  }

  .explore-link a {
    margin-right: 40px;
    margin-bottom: 12px;
  }
}

/* FOR SCREEN BELOW 992px */
@media (max-width: 992px) {
  .footer {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }

  .footer h5 {
    margin-bottom: 16px;
  }

  .footer-right .social-usernames p {
    display: none;
  }

  .footer-right .social-icons {
    width: 100%;
    margin-right: 0;
  }

  .footer-right .social-icons img {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .footer-left {
    margin-bottom: 40px;
  }

  .explore,
  .sponsor {
    margin-bottom: 48px;
  }
}

/* FOR SCREEN ABOVE 768px */
@media (min-width: 768px) {
  .movie-desc-container {
    padding-left: 5%;
  }

  .movie-desc-container h1 {
    font-size: 32px;
  }

  .showtimes-ticket-container .pick-date-place div:first-child {
    margin-right: 24px;
  }
}

@media (min-width: 992px) {
  .footer-left p {
    margin-right: 85px;
  }
}

/* FOR SCREEN ABOVE 1366px */
@media (min-width: 1366px) {
  .navbar-brand {
    margin-right: 72px;
  }

  .navbar .menu {
    margin-right: 56px;
  }

  .navbar .search .btn {
    margin: 0 48px;
  }
}
